@import "../../libs/variables.scss";

.post{
    border-radius: 10px;
    box-shadow: 0 0 10px $lightgrey;
    padding: 20px;
    margin-bottom: 20px;
    
    img{
        display: block;
        width: 100%;
    }
}